* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #202124;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.navigation {
  display: flex;
  padding: 6px;
  align-items: center;
}

.navigation__link {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
}

.navigation__link:hover {
  text-decoration: underline;
}

.header__menu_icon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 15px;
}

.header__menu_icon:hover {
  background-color: #2f3034;
  border-radius: 50%;
}

.gb_Ve {
  fill: #fff;
  height: 24px;
  width: 24px;
}

.header__menu_account {
  height: 40px;
  width: 40px;
  background-color: #bf360c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}

.search_container {
  display: flex;
  width: 582px;
  justify-content: center;
  align-items: center;
  padding: 6px 20px;
  border: 1px solid #9aa0a6;
  border-radius: 9999px;
  gap: 20px;
  margin: 20px 0;
}

.search_container__google_image {
  display: flex;
  justify-content: center;
}

.search_container__search_icon {
  height: 20px;
}

.search_container__search_icon > svg {
  width: 20px;
  fill: #9aa0a6;
}

.search_container__voice_icon {
  width: 24px;
}

.search_container__camera_icon > img {
  width: 24px;
  height: 24px;
}

.search_input {
  outline: none;
  background-color: #202124;
  border: none;
  color: #fff;
  flex-grow: 1;
}

.search_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search_button button {
  font-size: 14px;
  color: #fff;
  background-color: #303134;
  outline: none;
  border: none;
  margin-right: 15px;
  padding: 10px 16px;
  border-radius: 6px;
}

.search_links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search_links > span {
  color: #bec4cb;
  font-size: 13px;
}

.search_links > a {
  color: #6fb4f8;
  font-size: 13px;
  text-decoration: none;
}

.search_links > a:hover {
  text-decoration: underline;
}

.footer {
  position: absolute;
  bottom: 0px;
  background-color: #171717;
  right: 0px;
  left: 0px;
}

.upper_footer,
.lower_footer {
  border-bottom: 1px solid #9aa0a6;
  padding: 12px 25px;
}

.upper_footer > span {
  color: #9aa0a6;
}

.lower_footer {
  border-bottom: none;
  display: flex;
  justify-content: space-between;
}

.lower_footer a {
  color: #9aa0a6;
  text-decoration: none;
  margin-right: 5px;
}
.lower_footer a:hover {
  text-decoration: underline;
}
